.ipod-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    height: calc(90vh - 50px);
    width: 480px;
    border-radius: 20px;
    border: solid 4px rgba(255, 255, 255, 0.397);
    // background: radial-gradient(white, rgb(241, 241, 241), rgb(255, 255, 255));
    background: linear-gradient(45deg, white, rgb(236, 236, 236) 10%, rgb(255, 255, 255) 30%, rgb(221, 220, 220) 40%, #D9D9D2 50%);
    box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.24);

}

.screen-container {
    width: 92%;
    position: relative;
    z-index: 3;
    cursor: default;
    .screen-content {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        height: 50vh;
        border: 4px solid black;
        border-radius: 10px;
        color: black;
        background-color: rgb(255, 255, 255);
        box-shadow: inset 0 0 20px 2px rgb(225, 235, 238);
        transition: 1.5s;
        
        .left-screen-content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 255px;
            box-shadow: 10px 0 20px -10px black;
            z-index: 5;
            .app-title {
                width: 100%;
                padding: 5px 0 5px 0;
                font-size: 26px;
                letter-spacing: 2px;
                font-weight: bold;
                background: linear-gradient(to bottom, white, silver);
                border-radius: 10px 0 0 0;
                border-bottom: solid 1px rgb(117, 117, 117);
            }
            div {
                width: 100%;
                .user-selection {
                    display: flex;
                    align-items: center;
                    height: 40px;
                    font-weight: bold;
                    font-size: 20px;
                    cursor: pointer;
                    div {
                        display: flex;
                        align-items: center;
                        padding-left: 4px;
                    }
                    span {
                        transform: translateX(-3px);
                    }
                }
                .active-tab {
                    display: flex;
                    align-items: center;
                    height: 40px;
                    font-weight: bold;
                    font-size: 20px;
                    color: white;
                    background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(66, 66, 219));
                    cursor: pointer;
                    div {
                        display: flex;
                        align-items: center;
                        padding-left: 4px;
                    }
                    span {
                        transform: translateX(-3px);
                    }
                }

                .user-selection:hover {
                    color: white;
                    background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(66, 66, 219));
                }
                
            }
            
        }

        .right-screen-content {
            position: relative;
            display: flex;
            flex-direction: column;
            // align-items: center;
            width: 255px;
            .subscriber-form-container {
                overflow-y: auto;
                h2 {
                    font-size: 3vh;
                    margin: 6px;
                }
                .tag-line {
                    margin: 1rem;
                    font-weight: bold;
                    font-size: 2.1vh;
                }
                .subscribe-button {
                    margin: 1rem;
                    font-size: 2.5vh;
                    font-weight: bold;
                    border: solid 2px black;
                    border-radius: 10px;
                    color: white;
                    background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(66, 66, 219));
                    cursor: pointer;
                }
            }

            .artist-form-containter {
                overflow-y: auto;
                h2 {
                    font-size: 3vh;
                    margin: 6px;
                }
                #song-description {
                    height: 60px;
                    padding-top: 10px;
                    resize: none;
                }
                .submit-button {
                    margin: 16px;
                    font-size: 2.5vh;
                    font-weight: bold;
                    border: solid 2px black;
                    border-radius: 10px;
                    color: white;
                    background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(66, 66, 219));
                    cursor: pointer;
                }
            }

            .song-list-container {
                height: 100%;
                overflow-y: auto;
                .song-list-content {
                    .song-card {
                        display: flex;
                        font-size: 12px;
                        width: 100%;
                        .song-info {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: left;
                            padding-left: 5px;
                            div {
                                margin: 0;
                                font-size: 16px;
                                font-weight: bold;
                            }
                            .song-name-container {
                                overflow: hidden;
                                white-space: nowrap;
                                width: 150px;
                                span {
                                    display: inline-block;
                                }
                            }
                            p {
                                margin: 0;
                                text-align: left;
                            }
                        }
                        .song-info:hover {
                            .song-name-container {
                                span {
                                    // color: red;
                                    animation: marquee 5s linear infinite;
                                }
                            }
                        }
                        .album-placeholder {
                            height: 50px;
                            width: 50px;
                            background-color: rgb(165, 165, 165);
                            background-position: center;
                            background-size: cover;
                            .song-image {
                                height: 50px;
                                width: 50px;
                            }
                        }
                    }
                    .song-card:hover {
                        color: white;
                        background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(101, 101, 238));
                        
                    }
                }
            }

            .about-container {
                .button {
                    padding: 3px;
                    text-decoration: none;
                    font-size: 2.5vh;
                    font-weight: bold;
                    border: solid 2px black;
                    border-radius: 10px;
                    color: white;
                    background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(66, 66, 219));
                    cursor: pointer;
                }
            }
        }
    }
}

.input-container {
    position: relative;
    .name-label {
        position: absolute;
        font-size: 16px;
        font-weight: bold;
        background-color: white;
        padding: 0 2px 0 2px;
        transform: translate3d(9px, 3.2px, 0);
    }
    .phone-label {
        position: absolute;
        background-color: white;
        font-size: 16px;
        font-weight: bold;
        left: 0;
        transform: translate3d(32px, 3.2px, 0);
    }
    .user-input {
        width: 165px;
        height: 35px;
        margin-top: 1rem;
        padding-left: 5px;
        background-color: white;
        border: solid 2px silver;
        border-radius: 5px;
        color: black;
        outline: none;
    }
    .user-input:focus {
        border: solid 2px black;
    }
}

.circle-container {
    display: flex;
    justify-content: center;
    width: 85%;
    position: relative;
    z-index: 3;

    .main-circle {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 32vh;
        min-width: 32vh;
        border: solid 2px rgb(163, 163, 163);
        border-radius: 50%;
        // background: silver;
        .quadrant {
            position: absolute;
            width: 50%;
            height: 50%;
            background-color: silver;
          }
          
          #quadrant1 {
            top: 0;
            left: 0;
          }
          #quadrant2 {
            top: 0;
            left: 50%;
          }
          #quadrant3 {
            top: 50%;
            left: 0;
          }
          #quadrant4 {
            top: 50%;
            left: 50%;
          }

        .inner-circle {
            min-height: 14vh;
            min-width: 14vh;
            border: solid 2px rgb(97, 97, 97);
            border-radius: 50%;
            background: radial-gradient(white, #D9D9D2);
            // transition: 0.2s;
            z-index: 2;
        }
        .inner-circle:active {
            box-shadow: inset 0 0 5px 2px rgb(146, 146, 146);
        }
    }
    .active {
        border: solid 2px rgb(146, 146, 146);
        
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }

    100% {
        content: none;
    }
}

@keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-modal::backdrop {
    background: rgba(0, 0, 0, 0.37);
}
.submit-modal {
    background: #d9d9d2f1;
    border-radius: 20px;
    cursor: default;
    .modal-content {
        color: black;
        font-weight: bold;

        .playlist-container {
            img {
                height: 60px;
                background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(66, 66, 219));
                border: solid 2px white;
                border-radius: 15px;
            }
        }
    }
    .button {
        padding: 3px;
        margin: 1rem;
        text-decoration: none;
        font-size: 2.5vh;
        font-weight: bold;
        border: solid 2px black;
        border-radius: 10px;
        color: black;
        background: white;
        transition: 0.2s;
        cursor: pointer;
    }
    .button:hover {
        color: white;
        background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(66, 66, 219));
    }
}

/***** Phone Number Library CSS *****/
.PhoneInput {
    display: block;
}
.PhoneInputCountry {
    position: absolute;
    bottom: 13px;
    left: 25px;
}
.PhoneInputInput {
    flex: none;
    width: 165px;
    height: 35px;
    margin-top: 1rem;
    padding-left: 5px;
    background-color: white;
    border: solid 2px silver;
    border-radius: 5px;
    color: black;
    outline: none;
    text-indent: 40px;
}
.PhoneInputInput:focus {
    border: solid 2px black;
}
.PhoneInputCountrySelect {
    // max-height: 150px;
    // overflow: scroll;
    // background: #D9D9D2;
}
/****** MEDIA QUERIES FOR DIFFERENT SCREEN SIZES ******/

/**** MAX-WIDTH 425PX ****/
@media (max-width: 425px) {
    .ipod-container {
        height: calc(97vh - 50px);
        width: 97vw;
    }

    .screen-container {
        .screen-content {
            .left-screen-content {
                .app-title {
                    font-size: 19px;
                }
                div {
                    .user-selection {
                        font-size: 16px;
                    }
                    .active-tab {
                        font-size: 16px;
                    }
                    .user-selection:hover {
                        color: white;
                        background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(66, 66, 219));
                    }
                    
                }
            }
            .right-screen-content {
                .subscriber-form-container {
                    h2 {
                        font-size: 16px
                    }
                    .tag-line {
                        margin: 9px;
                    }
                    .subscribe-button {
                        margin: 1rem;
                    }
                }
                .artist-form-containter {
                    h2 {
                        font-size: 16px;
                    }
                    #song-description {
                        height: 25px;
                    }
                }
                .about-container {
                    font-size: 12px;
                    h1 {
                        font-size: 22px;
                        margin: 5px;
                    }
                }
                .song-list-container {
                    .song-list-content {
                        .song-card {
                            .song-info {
                                .song-name-container {
                                    width: 130px;
                                }
                            }
                        } 
                    }    
                }
            }
        }
    }
    .input-container {
        .name-label {
            font-size: 12px;
            transform: translate3d(9px, 8px, 0);
        }
        .phone-label {
            font-size: 12px;
            transform: translate3d(30px, 7.6px, 0);
        }
        .user-input {
            width: 135px;
            height: 28px;
        }  
    }
    // .PhoneInput {
    //     display: block;
    // }
    
    
    .PhoneInputCountry {
        position: absolute;
        bottom: 11px;
        left: 26px;
        --PhoneInputCountryFlag-height: 12px;
    }
    .PhoneInputInput {
        flex: none;
        width: 135px;
        height: 28px;
        // margin-top: 1rem;
        padding-left: 5px;
        background-color: white;
        border: solid 2px silver;
        border-radius: 5px;
        color: black;
        outline: none;
        text-indent: 34px;
    }
}

/**** MAX-WIDTH 375PX ****/
@media (max-width: 375px) {
    .ipod-container {
        height: calc(97vh - 50px);
        width: 97vw;
    }

    .screen-container {
        .screen-content {
            .left-screen-content {
                .app-title {
                    font-size: 19px;
                }
                div {
                    .user-selection {
                        font-size: 16px;
                    }
                    .active-tab {
                        font-size: 16px;
                    }
                    .user-selection:hover {
                        color: white;
                        background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(66, 66, 219));
                    }
                    
                }
            }
            .right-screen-content {
                .subscriber-form-container {
                    h2 {
                        font-size: 16px
                    }
                    .tag-line {
                        margin: 9px;
                    }
                    .subscribe-button {
                        margin: 1rem;
                    }
                }
                .artist-form-containter {
                    h2 {
                        font-size: 16px;
                    }
                    #song-description {
                        height: 25px;
                    }
                }
                .about-container {
                    font-size: 12px;
                    h1 {
                        font-size: 22px;
                        margin: 5px;
                    }
                }
                .song-list-container {
                    .song-list-content {
                        .song-card {
                            .song-info {
                                .song-name-container {
                                    width: 100px;
                                }
                            }
                        } 
                    }    
                }
            }
        }
    }
    .input-container {
        .name-label {
            font-size: 12px;
            transform: translate3d(9px, 8px, 0);
        }
        .phone-label {
            font-size: 12px;
            transform: translate3d(23px, 7.6px, 0);
        }
        .user-input {
            width: 125px;
            height: 28px;
        }  
    }
    .PhoneInputCountry {
        position: absolute;
        bottom: 11.5px;
        left: 20px;
        --PhoneInputCountryFlag-height: 11px;
    }
    .PhoneInputInput {
        width: 125px;
        text-indent: 33px;
    }
}

/**** MAX-WIDTH 320PX ****/
@media (max-width: 320px) {
    .ipod-container {
        height: calc(97vh - 50px);
        width: 97vw;
    }

    .screen-container {
        .screen-content {
            .left-screen-content {
                .app-title {
                    font-size: 16px;
                }
                div {
                    .user-selection {
                        font-size: 14px;
                    }
                    .active-tab {
                        font-size: 14px;
                    }
                    .user-selection:hover {
                        color: white;
                        background: linear-gradient(to bottom, rgb(125, 143, 240), rgb(66, 66, 219));
                    }
                    
                }
            }
            .right-screen-content {
                .subscriber-form-container {
                    h2 {
                        font-size: 16px
                    }
                    .tag-line {
                        margin: 6px;
                    }
                    .subscribe-button {
                        margin: 1rem;
                    }
                }
                .artist-form-containter {
                    h2 {
                        font-size: 16px;
                    }
                    #song-description {
                        height: 25px;
                    }
                }
                .about-container {
                    font-size: 12px;
                    h1 {
                        font-size: 18px;
                        margin: 5px;
                    }
                }
                .song-list-container {
                    .song-list-content {
                        .song-card {
                            .song-info {
                                .song-name-container {
                                    width: 70px;
                                }
                            }
                        } 
                    }    
                }
            }
        }
    }
    .input-container {
        .name-label {
            font-size: 11px;
            transform: translate3d(9px, 8px, 0);
        }
        .phone-label {
            font-size: 11px;
            transform: translate3d(20px, 8px, 0);
        }
        .user-input {
            width: 105px;
            height: 25px;
        }  
    }
    .PhoneInputCountry {
        position: absolute;
        bottom: 11.5px;
        left: 17px;
        --PhoneInputCountryFlag-height: 11px;
    }
    .PhoneInputInput {
        width: 105px;
        text-indent: 31px;
        font-size: 11px;
    }
}